.logo{
    width: 50px;
}
.bg{
    background-color: #de2e03;
    
}
.nav-link{
    margin-inline: 10px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    &:hover{
        color: #ff8800;
    }
}